@media(max-width: 920px) {}

@media(max-width: 910px) {
   .about__content {
      padding-right: 20px;
      width: 100%;
      margin-bottom: 20px;
   }
   .about__wrapper {
      display: block;
   }
   .works__content {
      flex-wrap: wrap;
   }
   .works__item {
      width: 50%;
   }
   .works__item-box {
      width: 220px;
   }
}

@media(max-width: 860px) {
   .footer__content {
      display: block;
   }
   .footer__item {
      width: 100%;
   }
}

@media(max-width: 764px) {}

@media(max-width: 620px) {
   .header__menu-btn {
      display: block;
      margin-top: 14px;
   }
   .header__list {
      display: none;
      position: absolute;
      top: 67px;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      border-top: 4px solid #f3af9d;
      border-bottom: 4px solid #f3af9d;
      background-color: #fff;
      z-index: 3;
   }
   .header__list li {
      display: block;
      padding-top: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
   }
   .header__list li+li {
      margin-left: 0;
   }
   .header__list a {
      display: block;
   }
}

@media(max-width: 480px) {
   .works__content {
      display: block;
   }
}

@media(min-width: 620px) {
   .header__wrapper ul {
      display: block!important;
   }
}